.album-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.album-content {
  position: relative;
  margin-bottom: 20px;
  width: 575px;
}

.album-img {
  position: relative;
  width: 95%;
  z-index:1;
  border-radius: 10px;
}

.album-text {
  position: absolute;
  margin: 0 auto;
  padding: 5%;
  bottom: 0;
  left: 2.5%;
  width: 85%;
  height: 30%;
  text-align: left;
  background-color: rgba(0,0,0,0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow:
  0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  z-index: 5;
}

.album-text:hover {
  background: linear-gradient(to top, #adfaf6, #23857c);
}

.album-text p {
  margin: 5px auto;
  width: 95%;
}

.album-link {
  text-transform: uppercase;
}

@media screen and (max-width: 585px) {
  .album-content {
    width: 440px;
  }
}

@media screen and (max-width: 450px) {
  .album-container{
    padding: 0;
  }
  .album-content {
    width: 310px;
  }
}

